@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0e1538;

}

.box{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 150%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.box h2{
    position: relative;
    color: #ffffff;
    font-size: 5.5em;
    z-index: 10;
    
}